<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/mage.css" rel="stylesheet">
  <title>Lavenwoods Alchemy</title>
  <script defer src="/Script/script.js"></script>
</head>

<body class="main-body">

  

  <div class="welcome-sign">
    <h1>WELCOME TO LAVENWOODS ALCHEMY</h1>
    <a class="summon" href="/mages/3548magecreate6548">Summon the mages!
  </div></a>
  </div>


</body>

</html>