<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Ye' Mage</title>
</head>
<body>
    <h1>CHOOSE YE' MAGE</h1>
    <form action="/potions" method="POST">
        <div>MAGE O' FLAMES</div>
        <input type="submit" name="fire" value="FIRE">
        <div>MAGE O' FLAMES</div>
        <input type="submit" name="lightning" value="LIGHTNING">
        <div>MAGE O' FLAMES</div>
        <input type="submit" name="ice" value="ICE">
        <div>MAGE O' FLAMES</div>
        <input type="submit" name="mystery" value="MYSTERY">
    </form>
</body>
</html>