<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/potions/potionsbag.css" rel="stylesheet">
    <title>Potion Bag</title>
</head>
<body class='bag-body'>
    <div class="potion-bag">
    <h1>Potion Bag</h1>
    <%if(potions.length) {%>
    <% for (let i=0; i<potions.length; i++) { %>
        
        <a href="/potions/<%= potions[i].id %> "><button class="button"><%= potions[i].potionName %></button></a>
        
   <% } %>
   <% } else { %>
    <em>Potion bag is empty.  Better talk to your favorite mage!</em>
  <% } %>
</div>
  <div>
      <a href="/mages"><button class="button">Summon Mages Again!</button></a>
  </div>
</body>
</html>