<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potion Bag</title>
</head>
<body>
    <h1>Potion Bag</h1>
    <%if(potions.length) {%>
    <% for (let i=0; i<potions.length; i++) { %>
        <ul>
        <li><a href="/potions/<%= potions[i].id %> "><%= potions[i].potionName %> </a></li>
        </ul>
   <% } %>
   <% } else { %>
    <em>Potion bag is empty.  Better talk to your favorite mage!</em>
  <% } %>

  <div>
      <a href="/mages">Summon Mages Again!</a>
  </div>
</body>
</html>