<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="html/css" href="../../Styles/style.css">
    <title>New Potion</title>
</head>

<body>
    <h1>New Potion</h1>
    <img src="https://i.ibb.co/hmfvfZz/Potion-Bottle.png" alt="Potion-Bottle" border="0">
    <form action="/potions" method="POST">
        <h2>Potion Name:</h2>
        <input type="text" name="potionName" placeholder="Potion Name Here"></br></br>
        <h2>Potion Effects:</h2>
        <textarea name="attributes" id="" cols="30" rows="10"></textarea></br>
        <input type="submit" value="Brew Your Potion!">
    </form>
</body>

</html>