html {
    background-image: url("https://i.ibb.co/GVmPjZN/Wood-Background.png");
    background-size: 25%;
}

h1, form {
    color: white;
    font-size: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form {
    display: flex;
} */